%echo Generating registration definition key
Key-Type: RSA
Key-Length: 4096
Subkey-Type: RSA
Subkey-Length: 4096
Name-Real: isv_user
Expire-Date: 0
Passphrase: {{ ibmcloud_apikey }}
# Do a commit here, so that you can later print "done" :-)
%commit
%echo done
