{
     "repository_name": "{{ icr_region }}.icr.io/{{ icr_namespace }}/minecraft",
     "docker_username": "{{ docker_username }}"
     "docker_password": "{{ docker_password }}",
     "envs_whitelist": ["RUNQ_ROOTDISK", "RUNQ_RUNQENV", "RUNQ_SYSTEMD", "IMAGE_TAG", "REGION", "PHASE", "LPAR_NAME", "CPC", "RUNQ_CPU", "RUNQ_MEM", "POD"],
     "public_key_id": "{{ root_key_id.stdout }}",
     "public_key": "{{ public_key.stdout }}",
     "vendor_key": "{{ vendor_key.stdout }}"
}
